
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
</div>
<div>
    <p class="text-center">
        <h1 class="text-center text-danger">How to choose the right bike</h1>
    </p>
    <p>
        There many different types of bicycles and many different types of people with different biking needs. Some people like tricks, some like races, and some like speed control. You will need to take into account your own preferences when choosing the right bicycle for yourself. To figure out how to choose which type of bike is best for you, ask yourself where and how often you plan to ride. What you will use your bike for, and how much you are willing to invest.
    </p>
    <p>
        <img class="col-md-4 img-responsive" src="~/Image/bike1.png" />
        <img class="col-md-4 img-responsive" src="~/Image/bike2.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/bike3.jpg" />
    </p>
    <p>
        <h4>Part 1</h4>
        <h4>Learning What Type of Bike You Need</h4>
    </p>
        Take a look at these handy sections designed to guide you through the decision making process:
    <ul>
        <li>
            Learn how to ride if you don't already know. That's the first and most important step. You can do this on practically any bike that is the right size for you. Starting on a basic single speed bike with coaster brakes is usually best. Since you don't have to worry about shifting gears and front/rear braking sequences, these bikes offer an easily learning curve.
        </li>
        <li>
            Learn about the basic types of bikes. There are many different types of bikes that offer a wide range of capabilities. If you live in a city, you probably want a bike that’s built for roads. If you live somewhere where you can bike on trails, then a mountain bike might be more your speed.
            <br />
            Standard bikes. These are old-fashioned, single speed bikes with coaster brakes (pedal backward to brake). Good for leisurely riding around town if there are no serious hills or other obstacles.
            <br />
            BMX bikes. Low profile bikes with 20 inch (50.8 cm), usually knobby tires. These are for "competition" biking on trails or courses. And have cable operated caliper brakes on the front and rear. These bikes are single geared bikes.
            <br />
            Road bikes. This is a general term for traditional looking, and racing like bicycles designed for good performance on pavement. There is a wide range of options within this category. Road bikes can often be classified into two broad groups of racing/performance or touring.
            <br />
            Racing bikes are designed for pure speed with an emphasis on light weight, and place the rider in an aggressive posture.
            <br />
            Touring bikes are designed for sustained comfort and carrying loads. They have heavier components for durability, mounts for rack and fender attachments, and have a more upright riding position. Road bikes traditionally have "drop" or "aero" handlebars. These handlebars allow the rider a range of hand placements for comfort or for achieving an aerodynamic riding position.
            <br />
            Mountain bikes. Bikes designed for off-road use, with compact frames, stable handling, clearance for wide and knobby tires, and higher handlebars for a more upright position. For hilly terrain, these bikes will generally come with low-range gearing. There are many types designed for specific purposes, such as downhill versus cross-country racing. Mountain bikes can be equipped with sophisticated suspension and disc brake systems. Mountain bikes are also very popular as all-around bicycles due to versatility.
            <br />
            Tandem bikes. These bikes have an extra seat and set of pedals for two people to ride together.
            <br />
            Recumbent bikes. These bicycles seat the rider in a "reclining" position with the pedals positioned forward, which is a more natural position requiring less flexibility than upright bikes. These bikes can be fitted with windshields for good aerodynamic performance. However, these are generally heavier and can't match the performance of upright racing style bikes.
        </li>
        <li>
            Think about your intended usage. If you intend to ride your bike on trails and unpaved roads, a mountain bike is a good fit. If you don't intend to ride on unpaved trails and live in a city, a road bike will be more efficient.
            <br />
            Racing style bikes will not be as comfortable or practical for casual riders. Depending on where you live, shops may be limited to mostly racing and mountain bikes. A popular middle ground that you may find is the "hybrid" style bike. Hybrid bikes often mix elements of both road and mountain bikes. Hybrid bikes typically have thicker wheels and a wider seat. Frames are usually fairly light and most use caliper hand brakes.
            <br />
            When deciding on a bike that will work for you, ask yourself a few questions to get started. What will your average riding time be? How often will you use your bike? Are you getting a bike for fun or more for transportation? What have you ridden in the past?
            <br />
            Being able to answer these basic question will give you a good picture of what kinds of features you need in a bike. If you plan to ride your bike to work everyday, you probably want more of a road bike that is fast and light. If you want a bike you can attach extra components to like a basket and ride around, a hybrid or cruiser might work. And if you plan on exercising and riding trails, then a mountain bike is what you’re looking for.
        </li>
    </ul>

        <p>
            <h4>Part 2</h4>
            <h4>Deciding What Features You Want</h4>
        </p>

    <ul>
        <li>
            Decide between quality and price. Bicycles will vary in price depending on what type you’re looking at, where you’re looking, and the quality of materials. Road bikes will be better for commuting and speed, but can get expensive depending on the quality of materials. Cruiser or hybrid bikes sometimes offer more room to add accessories like baskets and saddle bags.
            <br />
            If you intend to mount a basket, saddlebags, or a baby seat, you will want to be sure the frame is compatible with these devices. Many bike shops have complete assemblies with these attachments already mounted.
            <br />
            If you plan on attaching a lot of accessories, avoid bikes from big box stores. These bikes, while less expensive, don’t typically offer suitable construction for attachments. Because the materials aren’t as good, adding too much weight can cause your bike to break down or not perform.
            <br />
            Think about how long and how often you plan on having and using your bike. If you are planning to commute to work most days, invest in a higher quality bike. While more expensive, higher quality bikes will last longer and are constructed with durable, lightweight materials that will make performance better and last longer.
        </li>
        <li>
            Know what types of terrain you’ll be biking on. Road and mountain bikes usually have gears and shifters, often operated by some kind of trigger. Bikes that can shift gears are very useful for most riders, especially in hilly terrain, or for high performance. Fixie bikes don’t have shifters, are lighter and faster, good for flat commutes, but require some skill.
            <br />
            Bikes that have gears let you adjust your pedaling effort to account for hills, wind, or your own fatigue. However, these systems also add significant cost, complexity, and weight.
            <br />
            Many riders commuting on busy, mostly flat, streets who want speed choose a bike with a single gear ("single speed" or fixie bikes). Most bikes can be converted to a single speed. But unless the frame is designed for it, a chain tensioner will be required. A fixie is good for riders who want a minimal, fast bike. However, these bikes require practice and skill to get used to. Fixies don’t have freewheel so you have to pedal constantly to move. Single speed bikes are similar to fixies, except a single speed does have a freewheel and lets you coast.
        </li>
        <li>
            Decide on your desired comfort level. Comfort on a bike goes beyond how you feel on the seat. Depending on where you’ll be biking and your average commuting time, you want a bike that makes you feel comfortable and in control. Cruiser bikes typically have a bigger seat and let you sit upright. Touring bikes allow for good carrying capacity and typically have drop handlebars for a more aerodynamic position. Road bikes also allow for an aerodynamic position but can be uncomfortable due to smaller, light parts built for speed over comfort.
            <br />
            Choose a mountain bike if you like going over large bumps and dirt. Many mountain bikes have at least a front suspension to improve comfort and steering control on rough surfaces. Mountain bikes can also be good for general urban riding, due to stability and for going over curbs and the like. Beginners may find mountain bike handlebars and controls easier to use.
            <br />
            Choose a road or touring bike if you’re riding on mostly flat roads and terrain. These bikes typically have drop handlebars that allow for several hand positions and postures. Touring bikes provide more comfort if you plan on carrying a lot with you because these bikes are outfitted with the necessary mounting bolts for cargo. Touring and road bikes also offer different gears which help you change resistance if you encounter a hill or strong winds.
            <br />
            Hybrid bikes are good if you find more comfort in sitting upright and want a more padded saddle. Tires on hybrid bikes are wider and more durable than both road and touring bikes, and can be ridden on different terrains with ease.
        </li>
    </ul>

    <p>
        <h4>Part 3</h4>
        <h4>Building or Buying a Bike</h4>
    </p>
        <ul>
            <li>
                Test ride a bike before you buy it. If you can't get the bike shop to let you try a bike out, go to another shop, or borrow one from a friend. It is easier to get a bike that fits than to adjust and get acclimated to one that doesn't.
                <br />
                Ride the bike around the block to get a good feel for it. You should feel comfortable and in control at all times. Make sure you can easily reach the handlebars and all the components, like shifters and brakes.
                <br />
                Test the gears and brakes. See how easy it is for you to shift gears and brake quickly. The bike should be responsive and shouldn’t take too much effort to adjust gears or brake on.
                <br />
                Practice turning corners. You want to be comfortable with maneuverability. Some bikes are lighter than others and require more precision when maneuvering. If you don’t feel comfortable on the bike, try out other ones to find something that feels natural.
            </li>
            <li>
                Test the weight and materials. No matter the type of bike, there are different weights and materials in every one.
                <br />
                If you’re looking at a mountain bike, ask about the frame weight and how it affects performance. Though mountain bikes will typically be heavier than road bikes, you may find that for you, a heavier one will be harder to operate on the terrain. Check out the quality of the suspension. Full suspension mountain bikes are meant for serious off-road riders. You may not need the best suspension of you’re not solely riding over extremely rough terrain.
                <br />
                Road bikes and touring bikes offer a lot of options in the way of frames and frame construction. The more performance-based options might use a carbon frame. Carbon is a very lightweight material that helps with performance and speed. However, carbon frames can be more expensive. The material and shape of your frame can affect your comfort and speed, but might not be necessary for your type of riding. While carbon is popular for its lightweight nature, it’s easily damaged. Aluminum frames may be heavier, but are more durable and often less expensive. 
                <br />
                Get a bike with the right tires for your needs. Thinner tires, often on road bikes, are fast and lightweight. However, thinner tires aren’t good on rocky terrain and puncture easily. Touring bikes have slightly thicker tires with more tread, which allows for more versatility in terrain. The tread also helps grip on wet or slippery roads.
            </li>
            <li>
                Buy or have your bike professionally assembled. This is especially true with derailleur equipped bikes, the components that keep your chain on your bike. Having a bike built professionally ensures all the nuts and bolts are installed and tightened correctly, as well as the accessories.
                <br />
                If you’re newer to cycling, you will have an easier time getting on the road with a professionally built bike. Bike shops will ensure that your bike is properly tuned and that the wheels are properly aligned.
                <br />
                By getting a professionally assembled bike, you will also make sure that every component from the position of the saddle to any accessories has been outfitted for you. A bike shop will be able to take your measurements and tailor any bike to fit your body perfectly, allowing for the best, safest riding conditions.
            </li>           
        </ul>
    </div>

<div class="btn btn-default">
    @Html.ActionLink("Back to top", "Bikes", "Links")
</div>



