
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
</div>
<div>
    <p class="text-center">
        <h1 class="text-center text-danger">How to choose the right caravan</h1>
    </p>
    <p>
    <p>
        So you’ve made the first decision – to buy a caravan – but where do you go from here? The choice is bewildering. Prices vary from £500 to £50,000 and you could base your decision on anything, from the colour of the furnishing to the country of manufacture. Where should you start? And will you get a better ’van if you pay more? 
    </p>
    <p>
        This Data Sheet offers a few pointers by helping you ask the right questions and consider your requirements before making an investment.
    </p>
    <p>
        <img class="col-md-4 img-responsive" src="~/Image/caravan2.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/caravan3.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/caravan1.jpg" />
    </p>
    <p>

         Take a look at these handy sections designed to guide you through the decision making process:
    </p>
    <ul>
        <li>
            Don't buy the first caravan you see
        </li>
        <li>
            Proper preparation prevents poor purchases
        </li>
        <li>
            Identify your ideal caravan layout
        </li>
        <li>
            Be wary of deals that are too good to be true
        </li>
        <li>
            Think before you buy a caravan on web auctions
        </li>
        <li>
            Pay close attention to the body
        </li>
        <li>
            Don't forget the dreaded damp test
        </li>
        <li>
            Don't be afraid of an old caravan
        </li>
        <li>
            Think about the aftersales service
        </li>
        <li>
            Check all the documents
        </li>
    </ul>

    <p>
        Is your car suitable to tow?
    </p>
    <p>
        The weight of your caravan should never exceed the weight of your car – your car manufacturer handbook should give you the maximum weight your car can tow. Basically, the heavier your car and the lighter your caravan the safer your outfit should be.       
    </p>
    <div>
        We recommend that the weight of your caravan with its contents should not exceed 85% of the car’s kerb, or unladen, weight. 
    </div>

</div>

<div class="btn btn-default">
    @Html.ActionLink("Back to top", "Caravans", "Links")
</div>



