
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
</div>
<div>
    <p class="text-center">
        <h1 class="text-center text-danger">How to choose the right car</h1>
    </p>
    <p>
    <p>
        As a car shopper, you have hundreds of choices when it comes to picking a new ride. While there’s something for every buyer, finding that perfect match isn’t always easy. Do you want a sports car but need an SUV? How critical are safety and fuel economy? Will that full-size truck fit in your garage? Do you need something that can drive off paved roads, or do your wheels never leave the pavement? How many people do you need to carry, and do you need to carry a lot of cargo?
    </p>
    <p>
        Finding the right ride involves finding the nexus of what you want and what you need. Fortunately, there are lots of tools available to help you narrow your search, including U.S. News & World Report’s new car rankings, used car rankings, and vehicle comparison tool.
    </p>
    <p>
        <img class="col-md-4 img-responsive" src="~/Image/car1.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/car3.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/car2.jpg" />
    </p>
    <p>
        Take a look at these handy sections designed to guide you through the decision making process:

    </p>
    
    <ul>
        <li>
            What Kind of Car Do You Want?
        </li>
        <li>
            What Kind of Car Do You Need?
        </li>
        <li>
            Who/What You Carry?
        </li>
        <li>
            Where You Live?
        </li>
        <li>
            What You Do?
        </li>
        <li>
            What You Can Afford?
        </li>
        <li>
            What You Can Compromise On?
        </li>
    </ul>

    <p>
        Additional information about Load type that may help you:
    </p>
    <div>
        First you need to decide on the ideal payload for your car.  To do this check the size, weight and volume of your typical load.  Here are some typical weights and sizes to help give you an idea:
    </div>
    <br />
    <div>
        <ul>
            <li>
                A bag of dry sand -1330kg per cubic metre
            </li>
            <li>
                A Euro pallet -1200mm x 800mm
            </li>
            <li>
                Baled hay - Up to 225kg per cubic metre
            </li>
            <li>
                A bag of cement - 25kg or 50kg
            </li>
            <li>
                A sheet of MDF - 2440mm x 1220mm x 15mm weighs 30-37kg
            </li>
            <li>
                A bag of potatoes - 50kg
            </li>
            <li>
                A tin of 5L paint - 7kg
            </li>
        </ul>
    </div>

</div>

<div class="btn btn-default">
    @Html.ActionLink("Back to top", "Cars", "Links")
</div>



