
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
</div>
<div>
    <p class="text-center">
        <h1 class="text-center text-danger">How to choose the right farm</h1>
    </p>
    
    <p>
        Determining which tractor is best for your needs requires much research and consideration. Let us help you narrow down the various configurations and features available.
    </p>
    <p>
        <img class="col-md-4 img-responsive" src="~/Image/farm1.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/farm2.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/farm3.jpg" />
    </p>
    <p>
        You need the right tractor for your job with the correct equipment which is right for now and the future.  So how do you make your mind up?
    </p>
    Take a look at these handy sections designed to guide you through the decision making process:
    <ul>
        <li>
            Tractor Options
        </li>
        <li>
            Consider your property
        </li>
        <li>
            Sizes and configurations
        </li>
        <li>
            Transmission options
        </li>
        <li>
            Horsepower types
        </li>
        <li>
            Hydraulics and three-point hitch
        </li>
        <li>
            Front-wheel assist
        </li>
        <li>
            Dealer service
        </li>
        <li>
            Operator's platform
        </li>
        <li>
            Rear componentry
            <li>
                Power take-off (PTO)
            </li>
            <li>
                Hydraulic coupler
            </li>
        <li>
            Hydraulic cylinder
        </li>
        <li>
            Draft link
        </li>
        <li>
            Lifting link
        </li>
        <li>
            Compression link
        </li>
    </ul>

    
</div>

<div class="btn btn-default">
    @Html.ActionLink("Back to top", "Farm", "Links")
</div>



