
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
</div>
<div>
    <p class="text-center">
        <h1 class="text-center text-danger">How to choose the right motorbike</h1>
    </p>
    <p>
    <p>
        So you've decided to buy a motorcycle and hit the open road. Before you do, you should consider the number of different bike options out there.
    </p>
    <p>
        Motorcycles come in all shapes and sizes, and offer different advantages or disadvantages based on things like how, when, and why you want to ride and your level of experience.
    </p>
    <p>
        <img class="col-md-4 img-responsive" src="~/Image/motor1.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/motor2.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/motor3.jpg" />
    </p>
    <p>
        Take a look at these handy sections designed to guide you through the decision making process:

    </p>
    <ul>
        <li>
            How will you be using your motorbike?
        </li>
        <li>
            How much would a motorbike cost to run?
        </li>
        <li>
            How to finance a motorbike?
        </li>
        <li>
            How do I know what type of motorbike to choose?
        </li>
        <li>
            How do I choose the components of a motorbike?
        </li>
        <li>
            How will you be using your motorbike?
        </li>
    </ul>

    
</div>

<div class="btn btn-default">
    @Html.ActionLink("Back to top", "Motors", "Links")
</div>



