
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
    <h2 class="text-center text-danger">Discover your perfect car, Here’s a quick and easy way to find a car that suits you.</h2>
</div>
<div>
    <p class="text-center">
        <a href="/Cars/Create" class="btn btn-primary btn-lg">Sell My Car</a>
        <a href="/Cars/All" class="btn btn-primary btn-lg">Buy New Or Used</a>
    </p>
</div>


<address>
    One Microsoft Way<br />
    Redmond, WA 98052-6399<br />
    <abbr title="Phone">P:</abbr>
    425.555.0100
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>

