
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
</div>
<div>
    <p class="text-center">
        <h1 class="text-center text-danger">How to choose the right truck</h1>
    </p>
    <p>
        We can help you to choose the right truck for your truck camper.  We know that it can be a complex process.  Not only are there six truck manufacturers and four truck levels to choose from, but each truck comes in a myriad of styles, bed lengths, engine types, and option packages.
    </p>
    <p>
        Of course the number one issue when buying a truck for a truck camper is payload capacity. That’s not to say that paint color and leather seats aren’t important, but payload is the one, two, three, four, or even five thousand pound gorilla in the bed.
    </p>
    <p>
        <img class="col-md-4 img-responsive" src="~/Image/truck1.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/truck3.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/truck2.jpg" />
    </p>
    <p>
        You need the right van for your job with the correct equipment which is right for now and the future.  So how do you make your mind up?
    </p>
    Take a look at these handy sections designed to guide you through the decision making process:
    <div>
        <ul>
            <li>
                How will you be using your truck?
            </li>
            <li>
                How much would a van cost to truck?
            </li>
            <li>
                How to finance a truck?
            </li>
            <li>
                How do I know what type of truck to choose?
            </li>
            <li>
                How do I choose the components of a truck?
            </li>
            <li>
                How will you be using your truck?
            </li>
        </ul>
    </div>
   
    <div class="text-left">
        Additional information about Load type that may help you. First you need to decide on the ideal payload for your truck.  To do this check the size, weight and volume of your typical load.  Here are some typical weights and sizes to help give you an idea:
    </div>
    <br />
    <div>
        <ul>
            <li>
                A bag of dry sand -1330kg per cubic metre
            </li>
            <li>
                A Euro pallet -1200mm x 800mm
            </li>
            <li>
                Baled hay - Up to 225kg per cubic metre
            </li>
            <li>
                A bag of cement - 25kg or 50kg
            </li>
            <li>
                A sheet of MDF - 2440mm x 1220mm x 15mm weighs 30-37kg
            </li>
            <li>
                A bag of potatoes - 50kg
            </li>
            <li>
                A tin of 5L paint - 7kg
            </li>
        </ul>
    </div>

</div>

<div class="btn btn-default">
    @Html.ActionLink("Back to top", "Trucks", "Links")
</div>



