
<div>
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail"/></p>
</div>
<div>
    <p class="text-center">
        <h1 class="text-center text-danger">How to choose the right van</h1>
    </p>
    <p>
        <p>
        You may have just started a new business, perhaps your business is expanding so you need a van or you just want to replace an old one.  Whatever your situation choosing the best vehicle is important.
        </p>
    <p>
        <img class="col-md-4 img-responsive" src="~/Image/van2.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/van3.jpg" />
        <img class="col-md-4 img-responsive" src="~/Image/van1.jpg" />
    </p>
    <div>

    <p class="text-left mt-60">
        <br />
        <br />
        <br/>
        You need the right van for your job with the correct equipment which is right for now and the future.  So how do you make your mind up?
    </p>
    </div>
        <p>
        
        
        <ul>
            <li>
                How will you be using your van?
            </li>
            <li>
                How much would a van cost to run?
            </li>
            <li>
                How to finance a van?
            </li>
            <li>
                How do I know what type of van to choose?
            </li>
            <li>
                How do I choose the components of a van?
            </li>
            <li>
                How will you be using your van?
            </li>
        </ul>
        
        <p>
        Additional information about Load type that may help you:
        </p>
    <div>
        First you need to decide on the ideal payload for your van.  To do this check the size, weight and volume of your typical load.  Here are some typical weights and sizes to help give you an idea:
    </div>
    <br/>
    <div>
        <ul>
            <li>
                A bag of dry sand -1330kg per cubic metre
            </li>
            <li>
                A Euro pallet -1200mm x 800mm
            </li>
            <li>
                Baled hay - Up to 225kg per cubic metre
            </li>
            <li>
                A bag of cement - 25kg or 50kg
            </li>
            <li>
                A sheet of MDF - 2440mm x 1220mm x 15mm weighs 30-37kg
            </li>
            <li>
                A bag of potatoes - 50kg
            </li>
            <li>
                A tin of 5L paint - 7kg
            </li>
        </ul>
    </div>  
    
</div>

<div class="btn btn-default">
    @Html.ActionLink("Back to top", "Vans", "Links")
</div>
        


