@{
    ViewBag.Title = "Which vehicle is right for you?";
}
<h2 class="text-center">@ViewBag.Title</h2>

<div class="col-md-3">   
    <h3>Browse by style:</h3>
    <a>
        <img src="~/Image/arrow.gif" width="100" height="60">
    </a>
    <br />
    <br /> 
    <nav class="site-header__channels">
        <ul class="inline-links-list">
            <li class="inline-links-list__item">
                <a href="/" class="tracking-header-link">Cars</a>
            </li>
            <li class="inline-links-list__item">
                <a href="/top-marques" class="tracking-header-link" data-label="prestige cars">Prestige cars</a>
            </li>
            <li class="inline-links-list__item">
                <a href="http://www.autotrader.co.uk/bikes" class="tracking-header-link">Bikes</a>
            </li>
            <li class="inline-links-list__item">
                <a href="http://www.autotrader.co.uk/vans" class="tracking-header-link">Vans</a>
            </li>
            <li class="inline-links-list__item">
                <a href="http://www.autotrader.co.uk/motorhomes" class="tracking-header-link">Motorhomes</a>
            </li>
            <li class="inline-links-list__item">
                <a href="http://www.autotrader.co.uk/caravans" class="tracking-header-link">Caravans</a>
            </li>
            <li class="inline-links-list__item">
                <a href="http://trucks.autotrader.co.uk/" class="tracking-header-link">Trucks</a>
            </li>
            <li class="inline-links-list__item">
                <a href="http://farm.autotrader.co.uk/" class="tracking-header-link">Farm</a>
            </li>
            <li class="inline-links-list__item">
                <a href="http://plant.autotrader.co.uk/" class="tracking-header-link">Plant</a>
            </li>
        </ul>
    </nav> 
</div>
<div>
    <img class="col-md-9 img-responsive" src="~/Image/fordEcosport.jpg"/>
</div>

   