@model List<AutoTrader.Models.Cars.CarListingModel>

@{
    ViewBag.Title = "Home Page";
}
<div class="jumbotron">
    <p class="lead text-center"><img src="~/Image/MyCompanyLogo.jpg" width="400" height="200" class="img-thumbnail" /></p>
    <h2 class="text-center text-danger">Discover your perfect car, Here’s a quick and easy way to find a car that suits you.</h2>
    <p class="text-center">
        <a href="/Cars/Create" class="btn btn-primary btn-lg">Sell My Car</a>
        <a href="/Cars/All" class="btn btn-primary btn-lg">Buy New Or Used</a>
    </p>
</div>

<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4">
            <h2>@car.Make @car.Model (@car.Year)</h2>
            <p>
            <a class="btn btn-default" href="/Cars/Details/@car.Id">
                <img src="@car.ImageUrl" class="img-responsive" />
                See More</a>
            </p>
        </div>
    }

</div>