@model List<AutoTrader.Models.Cars.CarListingModel>

@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1 class="text-center">AutoTrader</h1>
    <p class="lead text-center">Impress yourself with an SuperCar</p>
    <p class="text-center">
        <a href="/Cars/Create" class="btn btn-primary btn-lg">Add Yours</a>
        <a href="/Cars/All" class="btn btn-primary btn-lg">Take a Look</a>
    </p>
</div>

<div class="row">
    @foreach (var car in Model)
    {
        <div class="col-md-4">
            <h2>@car.Make @car.Model (@car.Year)</h2>
            <p>
            <a class="btn btn-default" href="/Cars/Details/@car.Id">
                <img src="@car.ImageUrl" class="img-responsive" />
                See More</a></p>
        </div>
    }

</div>